asgiref==3.8.1
Django==3.2
django-cors-headers==4.4.0
dotenv==0.9.9
gunicorn==23.0.0
packaging==24.2
pillow==10.4.0
pkg_resources==0.0.0
PyMySQL==1.1.1
python-dotenv==1.0.1
pytz==2025.2
sqlparse==0.5.3
typing_extensions==4.13.0