{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text">Data Anggota Pagarnusa</div>
    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        {% if request.user.is_superuser %}
        <a class="nav-link" href="{% url 'user-list' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Account Admin</span></a>
        {% endif %}
        
        <a class="nav-link" href="{% url 'member-list' %}">
            <i class="fas fa-fw fa-users"></i>
            {% if request.user.role == 'member' %}
                <span>Data diri</span></a>
            {% else %}
                <span>Anngota</span></a>
            {% endif %}
    </li>
    
    
    <!-- Heading -->
    <hr class="sidebar-divider">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>